<blockquote class="blockquote">
    <p class="mb-0">Recuerda que en Etrusca utilizamos diferentes tipos de listas, selecciona la que sea de tu interés
    </p>
</blockquote>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Público</h4>
                    <p>Es la lista que..</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/publico" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Distribuidor</h4>
                    <p>Distr</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/distribuidor" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Refacción público</h4>
                    <p>...</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/refaccionpublico" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Refacción distribuidor</h4>
                    <p>...</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/refacciondistribuidor" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Fronterizo</h4>
                    <p>...</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/fronterizo" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Boletín</h4>
                    <p>...</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/boletin" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4> Boletín fronterizo</h4>
                    <p>...</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/boletinfronterizo" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Boletín distribuidor</h4>
                    <p>...</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a routerLink="/comercial/listadeprecios/boletindistribuidor" class="small-box-footer">Click aquí <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>


    </div>

</div>