<div class="card">
    <form (ngSubmit)="procesar()">
        <div class="card-body">
            <label class="form-label">
                Nombre:
            </label>
            <input type="text" name="nombre" class="form-control" placeholder="Por favor agregue un nombre" [(ngModel)]="persona.nombre">
        </div>
    
        <div class="card-body">
            <label class="form-laber">
                Edad:
            </label>
            <input type="number" name="edad" class="form-control" placeholder="Por favor ingrese una edad" [(ngModel)]="persona.edad">
            <button class="btn btn-primary mt-4">
                Enviar
            </button>
        </div>
    </form>
    {{persona | json}}
</div>
